@import 'variables';
@import 'bootstrap/scss/bootstrap';

.ht-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .ht-element {
    display: flex;
    justify-content: space-around;

    .tag {
      color: skyblue;
      padding: 0 7px;
      font-size: 20px;
      position: relative;

      &::before {
        content: '#';
        font-weight: bold;
        font-size: 20px;
      }
    }

    .red {
      color: red;
    }
  }
}

.button-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .buttons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: baseline;
  }
}
div.story {
  width: 500px;
}
.gallery {
  display: flex;
  width: 500px;
  justify-content: space-between;

  .photo {
    display: flex;
    justify-content: space-around;
    gap: 3px;
    align-items: baseline;
  }
}

.img-wrapper {
  position: relative;
  height: auto;
  width: 130px;

}

.img-responsive {
  width: 100px;
  height: auto;
}

.modal-body {
  text-align: center;

  .img-responsive {
    width: auto;
  }
}

.modal-content {
  width: 100%;
  .modal-body {
    div {
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }

    .img-overlay:before {
      content: ' ';
      display: block;
      /* adjust 'height' to position overlay content vertically */
      height: 100%;
    }

    .line {
      width: 100%;
      height: 1px;
      border: 1px dotted blue;
    }

    span.rem {
      font-weight: bold;
      color: white;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid crimson;
      background-color: crimson;
      border-radius: 50%;
      padding: 5px;
      width: 30px;
      height: 30px;
  }
  
  .galleryH {
      img {
          width: 300px;
          height: auto;
      }
  }
  
  [data-gallery="0"] {
    display: none;
}

.messages-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
  .alert {
      display: none;
  }
}

.cat-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .cat-info {
      display: flex;
      justify-content: space-around;
      font-size: 24px;
  }
  .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
  }
}
